version: '3.8'

services:

  mongo:
    image: mongo:latest
    container_name: corp-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: jettyvasavi/corp-backend:latest
    container_name: corp-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/corp-banking-db
    depends_on:
      - mongo

  frontend:
    image: jettyvasavi/corp-frontend:latest
    container_name: corp-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
