<div class="header-container">
  <h1>Credit Requests</h1>
  <button mat-raised-button color="primary" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon> New Request
  </button>
</div>

<table mat-table [dataSource]="requests" class="mat-elevation-z8">

  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef> Client ID </th>
    <td mat-cell *matCellDef="let req"> {{req.clientId}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let req"> ${{req.requestAmount | number}} </td>
  </ng-container>

  <ng-container matColumnDef="tenure">
    <th mat-header-cell *matHeaderCellDef> Tenure </th>
    <td mat-cell *matCellDef="let req"> {{req.tenureMonths}} Months </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let req">
      <mat-chip [color]="getStatusColor(req.status)" selected>
        {{req.status}}
      </mat-chip>
    </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let req"> {{req.createdAt | date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
