<h2 mat-dialog-title>Create New User</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="RM">Relationship Manager (RM)</mat-option>
        <mat-option value="ANALYST">Analyst</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Create</button>
</mat-dialog-actions>