.client-form { display: flex; flex-direction: column; gap: 8px; }
.row { display: flex; gap: 16px; }
.full-width { width: 100%; }
.half-width { flex: 1; }
h3 { margin-top: 10px; margin-bottom: 5px; color: #3f51b5; border-bottom: 1px solid #ddd; padding-bottom: 5px;}
.checkbox-container { display: flex; align-items: center; justify-content: center; }