<div class="header-container">
  <h1>My Corporate Clients</h1>
  <button mat-raised-button color="primary" (click)="openOnboardDialog()">
    <mat-icon>add_business</mat-icon> Onboard Client
  </button>
</div>

<div *ngIf="clients.length === 0" class="empty-state">
  <p>No clients assigned yet. Start by onboarding one.</p>
</div>

<table mat-table [dataSource]="clients" class="mat-elevation-z8" *ngIf="clients.length > 0">

  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef> Company Name </th>
    <td mat-cell *matCellDef="let client"> {{client.companyName}} </td>
  </ng-container>

  <ng-container matColumnDef="industry">
    <th mat-header-cell *matHeaderCellDef> Industry </th>
    <td mat-cell *matCellDef="let client"> {{client.industry}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let client"> {{client.address}} </td>
  </ng-container>

  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef> Contact Person </th>
    <td mat-cell *matCellDef="let client">
      {{client.primaryContact.name}} <br>
      <small style="color:gray">{{client.primaryContact.email}}</small>
    </td>
  </ng-container>

  <ng-container matColumnDef="turnover">
    <th mat-header-cell *matHeaderCellDef> Annual Turnover </th>
    <td mat-cell *matCellDef="let client"> ${{client.annualTurnover | number}}M </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
